body {
    background-image: url('https://raw.githubusercontent.com/gopiashokan/Airbnb-Analysis/main/airbnb_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stApp {
    background-color: transparent;
}
